.search-domain-container{
    background-color: #34454e;
    text-align: center;
    padding: 5rem 0;

    h2{
        color: #fff;
        font-size: 2.625rem;
        margin-bottom: 0.9375rem;
    }

    p{
        color: #d5d5d5;
        font-size: 1.5rem;
        margin-bottom: 1.5625rem;
    }

    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        input{
            display: block;
            border: none;
            border-radius: 0.3125rem;
            padding: 1.25rem;
            font-size: 1.25rem;
        }

        /* input[type="text"]{

        } */

        button{
            background-color: #24a859;
            border: none;
            border-radius: 0.3125rem;
            color: #fff;
            padding: 0.9375rem 1.875rem;
            font-size: 1.5rem;
            cursor: pointer;
            transition: 0.3s ease;
            

            &:hover{
                background-color: #2cc76a;
            }
        }
    }
}